{% extends "base.html" %}

{% block content %}
<h1>Внутренняя ошибка сервера (ошибка 500)</h1>
<p>Наш сервер ниасилил запрос ¯\_(ツ)_/¯</p>
<p class="text-success">Ошибка точно не на вашей стороне!</p>
<p>
    Где-то внутри сервера произошла ошибка, и он не смог обработать ваш запрос,
    или к нему совершено слишком много запросов за раз.
    Попробуйте ещё раз через какое-то время.
    Если это не починят,
    обратитесь в <a href="#" title="которой пока нет :P">
        техническую поддержку.
    </a>
</p>
<a href="/">На главную страницу</a>
{% endblock %}